.main {
  width: 90%;
  background: url(../../assets/images/background/snzr_paar.jpg);
  background-size: cover;
  background-position-x: 65%;
  display: flex;
  align-items: center;
  overflow: hidden;
  @mixin atSmall {
    width: 92%;
  }
  @mixin atLarge {
    width: 93%;
  }
  @mixin atLargest {
    width: 95%;
  }
  & a {
    position: absolute;
    color: #fff;
    top: 10px;
    right: 10px;
    @mixin atSmall {
      top: 25px;
      right: 25px;
    }
  }
  &__title {
    padding: 30px;
    background: rgba(0, 0, 0, 0.76);
    color: #fff;
    margin-top: 50%;
    @mixin atSmall {
      margin-left: 5%;
    }
    @mixin atLarge {
      margin-left: 25px;
      margin-top: 250px;
      padding: 50px;
    }
    & h1 {
      font-weight: 100;
      @mixin atSmall {
        font-size: 50px;
      }
      @mixin atLarge {
        font-size: 96px;
      }
    }
  }
}
