.sidebar {
  width: 15%;
  height: 100vh;
  transition: 1s all ease;
  background: #f5f5f5;
  overflow: hidden;
  @mixin atSmall {
    width: 8%;
  }
  @mixin atLarge {
    width: 7%;
  }
  @mixin atLargest {
    width: 5%;
  }
}
body {
  display: flex;
}

.sidebar--open {
  width: 50%;
  transition: 1s all ease;
  @mixin atSmall {
    width: 35%;
  }
  @mixin atLarge {
    width: 24%;
  }
  @mixin atLargest {
    width: 21%;
  }
}

.sidebar__menu {
  /* visibility: hidden; */
  transition: 1s all ease;
  color: #f5f5f5;
  padding: 0.5em;
  @mixin atLarge {
    padding: 1em;
  }
  & h3 {
    margin: 1rem 0 0.5rem;
  }
  & ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    & li {
      padding: 0.2rem 0;
    }
  }
  & a {
    font-weight: 100;
    transition: 0.5s all ease;
    color: #f5f5f5;
  }
}
.sidebar__menu--visible {
  /* visibility: visible !important; */
  transition: 1s all ease;
  color: #2f2f2f;
  & a {
    transition: 0.5s all ease;
    color: #2f2f2f;
  }
}
